.navbar {
  background-color: #3F51B5;
}

.navbar-brand {
  color: white !important;
}

.nav-link {
  color: white !important;
}

#main-div {
  background-color: #C5CAE9;
}

#footer-div {
  background-color: #303F9F;
  color: white
}

.conteudo-div {
  background-color: white;
}

